# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
bean/src/test/
bean/target/
common/pom.xml
common/src/test/
common/target/
manager_api/src/test/
manager_api/target/generated-sources/
manager_impl/src/test/
manager_impl/target/
pom.xml
web/src/test/
web/target/generated-sources/
/manager_impl/target/
