# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
"1.Maven\351\241\271\347\233\256\346\250\241\345\235\227\345\210\222\345\210\206.pptx"
bean/src/main/resources/
bean/src/test/
bean/target/
common/pom.xml
common/src/main/resources/
common/src/test/
common/target/
manager_api/src/main/resources/
manager_api/src/test/
manager_api/target/generated-sources/
manager_impl/src/test/
manager_impl/target/classes/mapper/
manager_impl/target/generated-sources/
pom.xml
potal_api/src/
potal_impl/src/
web/src/main/webapp/images/
web/src/main/webapp/js/
web/src/test/
web/target/generated-sources/
web/target/web/WEB-INF/jsp/user/
web/target/web/common/
